/*Generalidades*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cherry Swash', sans-serif;
}
:root{
  --Primer-color: #F1F6F5;
  --Cuarto-color: #82C3EC;
  --Segundo-color: #472183;
  --Tercer-color: #4B56D2;
  --extra-color1: #c3c3c3;
  --extra-color2: #dddee5;
}

/*Imagen de fondo---------------------------*/
.FondoIMG{
    background-image: url(../IMG/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;

}
.logoFondo{
    width: 450px;
    height: 375px;
    margin: auto;
    padding-top: 80px;


}
.LogoEnPNG{
  margin: auto;
  width: 450px;
}
.BotonMapa{
    height: 25px;
    width: 100px;
    position: absolute;
    margin-top: -35px;
    left: 25px;
    border: 3px solid var(--Primer-color);
    justify-content: center;
    display: flex;
    transition: .5s;
}
.BotonMapa:hover{
  background-color: var(--Primer-color);
  transition: .5s ;
}
.BotonMapa:hover > p{
  color: var(--letras2);
  transition: .5s ease;
}
.BotonMapa p{
  color: white;
} 
.EfectoOla{
    margin-top: -30px;
}
/*Sección 2----------------------------------------*/
.olaefecto1{
  stroke: none;
  fill: var(--Cuarto-color);
  filter:drop-shadow(1px 1px 5px black);
}
.olaefecto{
  stroke: none;
  fill: var(--Segundo-color);
  filter:drop-shadow(1px 1px 5px black);
}
.olaefecto2{
  stroke: none;
  fill: var(--Tercer-color);
  filter:drop-shadow(1px 1px 5px black);
}
.ApartadoPag2{
    width: 100%;
    height: auto;
    padding-top: 100px;
    padding-bottom: 10%;
    background-color: var(--Segundo-color);
  }
.Descargar{
    height: 380px;
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    background-color: var(--Primer-color);

  }
  .OpCent{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 30px;
    width: 100%;
    height: 360px;
    margin: auto;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
  }
  .bordeIntPag{
    height: 370px;
    width: 610px;
    background-color: var(--Primer-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bordeIntPag2{
    height: 370px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Primer-color);
  }
  /*Contenido del nav*/
  /*Decoración y texto de promoción*/
  .Dif{
    margin-left: 165px;
    color: aliceblue;
  }
  .anuncioDes{
    color:aliceblue;
    margin-left: 150px;
  }
  .anuncioDec{
    margin-left: 87px;
  }
  .Descargar div:hover ~ .anuncioDec{
    width: 50%;  
  }
  /*Imagen*/
  .ImagenBoton{
    height: 250px;
    width: 350px;
    cursor: pointer;
  }
   /*Slider------------------------------------------------------------------*/
   .decslide{
    margin: 1%;
    height: 95%;
   }
   /*Nav Contenerdor*/
   .ContPersonajes{
    width:min-content;
    height: 330px;
    overflow: hidden;
    margin: auto;
    margin-top: 3%;
  }
  .SliTitulo{
    margin: auto;
    text-align: center;
  }
  /*Listado de imagenes y imagenes*/
  .ContPersonajes ul{
    display: flex;
    animation: cambio 20s infinite alternate linear;
    width: 400%;
  }
  .ContPersonajes li{
    width: 100%;
    list-style: none;
  }
  .ContPersonajes img{
  width: 100%;
  height: 300px;
  transition: .5s;
  }

  /*Funcionalidad del slider*/
  @keyframes cambio{
      0%{margin-left: 0;}
      20%{margin-left: 0;}
      
      25%{margin-left: -100%;}
      45%{margin-left: -100%;}
      
      50%{margin-left: -200%;}
      70%{margin-left: -200%;}
      
      75%{margin-left: -300%;}
      100%{margin-left: -300%;}
  }
  @media only screen and (min-width:320px) and (max-width:768px){
  .slider, .slider ul, .slider img{
      height: 100vh;
  }
  }
  /*Apatado de las peguntas-----------------------------*/
  .Peguntas{
    max-width: 750px;
    width: fit-content;
    padding: 2%;
    height: auto;
    margin: auto;
    margin-top: 100px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 30px;
    background-color: var(--Primer-color);
    border-radius: 5px;
  }
  .card{
    position: relative;
    width: 265px;
    height: 350px;  
  }
  .card .cara{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;

  }
  .card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
  }
  .card .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card .front h3{
    position: absolute;
    width: 100%;
    height: 75px;
    line-height: 25px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    bottom: 40%;
    background: rgba(0, 0, 0, .4);
    color: var(--Primer-color);

  }

  .card .back{
    transform: perspective(600px) rotateY(180deg);
    background-color: var(--Tercer-color);
    padding: 10px;
    color: var(--Primer-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10 #000;
  }
  .card .back .carlin{
    border-top: solid 1px var(--Primer-color);
    height: 50px;
    line-height: 50px;
  }
  .card .back .carlin a{
    color: var(--Cuarto-color);
  }
  .card .back h3{
    font-size: 20px;
    margin-top: 5px;
    letter-spacing: 2px;
  }
  .card:hover .front{
    transform: perspective(600px) rotateY(180deg);
  }
  .card:hover .back{
    transform: perspective(600px) rotateY(360deg);
  }



  /*Responsive*/
  @media screen and (max-width: 600px) {
    .footer-content p:first-of-type {
      border-right: none;
      padding-right: 0;
    }
  }
  
  @media screen and (max-width: 400px) {
    .footer-content {
      flex-direction: column;
    }
  }
  
  .footer-content p:last-of-type {
    padding-left: 10px;
  }
  
  @media screen and (max-width: 400px) {
    .footer-content p:last-of-type {
      padding-left: 0;
    }
  }
  
  @media screen and (max-width: 600px) {
    .copyright {
      margin-top: 20px;
    }
  }
  
  @media screen and (max-width: 400px) {
    .copyright {
      text-align: center;
    }
  }
  .indica{
    position:absolute;
    font-weight: bold;
    color: var(--Primer-color);
    font-size: 30px;
    text-shadow: 1px 1px 2px black;
    text-orientation: use-glyph-orientation;
  }


/*modal*/
button {
  border-color: transparent;
  
  }
   /* MODAL */
 #modal::backdrop {
 background-color: rgba(0,0,0,.55);
 overflow: hidden;
}
dialog{
  margin: auto;
  background-color: var(--Tercer-color);
  color: var(--Primer-color);
  display: flex;
}
.escrito{
  max-width: 350px;
  text-align: center;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.imgtodec{
  width: 400px;
  height: 358px;
  background-position: center;
}
#imgto{
  background-image: url(../IMG/Saldes.jpg);
  
}
#imgto1{
  background-image: url(../IMG/infooccidente.avif);
}
#imgto2{
  background-image: url(../IMG/infocentro.jpg);
}
#imgto3{
  background-image: url(../IMG/infooriente.png);
  background-size:cover;
  background-repeat: no-repeat;

}
.todosmodals{
  visibility: hidden;
}
.cerrarmodal{
  position: relative;
  background-color: var(--Segundo-color);
  height: 30px;
  width: 100px;
  border-radius: 3px;
  bottom: 0px;
}