#close3 {
	background-color: #47a386;
	border: 0;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 14px;
	padding: 10px 25px;
  }
  
.reinito { 
	width: 200px;
	height: 380px;
}

#open3{
  background-color: var(--Cuarto-color);
	border: 0;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 14px;
	padding: 10px 25px;
}

  .modal-container3 {
	display: flex;
	background-color: rgba(0, 0, 0, 0.3);
	align-items: center;
	justify-content: center;
	position: fixed;
	pointer-events: none;
	opacity: 0;  
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	transition: opacity 0.3s ease;
  }
  
  .show {
	pointer-events: auto;
	opacity: 1;
  }

  .modal-container3 img {
	align-items: center;
	margin: 0;
	width: 650px;
  height: 300px;
}

.modal-container3 h1 {
  color: white;
  position: absolute;
  top: 180px;
  left: 350px;
  width: 400px;
  }
  
  .modal-container3 p {
    color: white;
    position: absolute;
    top: 230px;
    left: 310px;
    width: 300px;
  }

@media only screen and (min-width:320px) and (max-width:768px){
	.contenedor{
		width: 95%;
	}
}
